@model GarageMVC.ViewModels.Statistics

@{
    ViewData["Title"] = "Statistics";
}
<h1>Statistics for the garage</h1>
<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
            </tbody>
        </table>
    </div>
</div>
